body {
    background-color: rgb(108, 113, 39);
}

.up {
    height: 100px;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.logo-block {
    float: left;
    height: 100px;
    width: 25%;
    text-align: left;
    color: white;
}

.homepage-block {
    float: left;
    height: 100px;
    width: 25%;
    text-align: right;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    
}

.register-block, .account-block {
    float: left;
    height: 100px;
    width: 25%;
    text-align: right;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.login-block, .logout-block {
    float: left;
    height: 100px;
    width: 25%;
    text-align: right;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.middle-block {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.card-block {
    float: left;
    border: 1px solid;
    background-color: gainsboro;
    height: 200px;
    width: 100px;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-block {
    background-color: antiquewhite;
    color: black;
}

.low-block {
    background-color: antiquewhite;
    color: black;
}

footer {
    clear: both;
    max-height: 50px;
    width: 100%;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    padding: 10px;

}  
a {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.card-block:hover {
    background-color: darkgray;
}